allow-lan: true
ipv6: false
udp: true
mode: Rule
log-level: info
external-controller: 127.0.0.1:9090
external-ui: yacd-gh-pages
unified-delay: true
geodata-mode: true
tcp-concurrent: false
bind-address: '*'
interface-name: utun
sniffer:
  enable: false
profile:
  store-selected: true
  store-fake-ip: true 
tun:
  enable: true
  device: utun
  stack: System
  dns-hijack:
    - any:53
  auto-route: true
  auto-detect-interface: true
dns:
  enable: true
  ipv6: false
  use-hosts: true
  listen: 0.0.0.0:1053
  enhanced-mode: fake-ip
  fake-ip-range: 198.18.0.1/16
  default-nameserver:
        - 8.8.8.8
        - 1.1.1.1
  nameserver:
        - 8.8.8.8
        - 1.1.1.1
        - https://dns.google/dns-query
        - https://cloudflare-dns.com/dns-query
        - dhcp://utun
rules:
  - DOMAIN-SUFFIX,local,DIRECT
  - RULE-SET,anti-ad,QC
  - MATCH,Proxy
  - MATCH,Auto
proxy-groups:
    - name: Proxy
      type: select
      use:
          - Pro
          - FuzzyNG
          - FuzzyPN
#Themv
      proxies:
          - Auto

    - name: "Auto"
      type: url-test
      use:
          - Pro
          - FuzzyNG
          - FuzzyPN
#Themv
      url: 'http://www.gstatic.com/generate_204'
      interval: 1
    - name: QC
      type: select
      proxies:
          - DIRECT
          - REJECT
          - Proxy
          - Auto
rule-providers:
    anti-ad:
        behavior: "domain"
        type: http
        url: "https://raw.githubusercontent.com/Qiu2zhi1zhe3/anti-ad/main/anti-ad.yaml"
        path: ./run/anti-ad.yaml
proxy-providers:
    Pro:
        type: file
        path: ./run/Vip.yaml
        health-check:
            enable: true
            tolerance: 200
            url: http://www.gstatic.com/generate_204
            interval: 3600
#FuzzyNG
    FuzzyNG:
        type: http
        url: https://fuzzyng.com/api/v1/client/subscribe?token=2f7fac7eb9d5d71b73283492241f617b
        path: ./run/Sv1.yaml
        health-check:
            enable: true
            tolerance: 200
            url: http://www.gstatic.com/generate_204
            interval: 3600
##FuzzyNG
#FuzzyPN  
    FuzzyPN:
        type: http
        url: https://api.fuzzypn.me/api/v1/client/subscribe?token=3b949386becc6b4a25f7bd5f9a82c6e7
        path: ./run/Sv2.yaml
        health-check:
            enable: true
            tolerance: 200
            url: http://www.gstatic.com/generate_204
            lazy: true
            interval: 3600
##FuzzyPN  
