#!/system/bin/sh

magisk_busybox="/data/adb/magisk/busybox"
tun_device="utun"
Clash_data_dir="$TOME/Module/Hack-Proxy"
Clash_bin_name="Clash"
Clash_bin_path="${Clash_data_dir}/${Clash_bin_name}"
Clash_run_path="${Clash_data_dir}/run"
Clash_config_file="${Clash_data_dir}/config.yaml"
Clash_pid_file="${Clash_run_path}/clash.pid"
CFM_logs_file="${Clash_run_path}/run.log"
Clash_logs_file="${Clash_run_path}/kernel.log"
Clash_tun_status=$(awk -F ': ' '/^tun: *$/{getline; print $2}' ${Clash_config_file})

mkdir -p /dev/net
[ ! -L /dev/net/tun ] && ln -s /dev/tun /dev/net/tun

start_clash() {
[ -e $Clash_run_path ] || mkdir -p $Clash_run_path
    if [ "$(grep -cm1 'ipv6: false' $Clash_config_file)" == 1 ] ; then
        for net in /proc/sys/net/ipv6/conf/{wlan*,*data*} ; do
            echo ${net} | grep -q wlan
            if [ $? -eq 0 ] ; then
                echo 0 > ${net}/accept_ra
            fi
            echo 1 > ${net}/disable_ipv6
        done
    else
        for net in /proc/sys/net/ipv6/conf/{wlan*,*data*} ; do
            echo ${net} | grep -q wlan
            if [ $? -eq 0 ] ; then
                echo 1 > ${net}/accept_ra
            fi
            echo 0 > ${net}/disable_ipv6
        done
    fi
    rm ${CFM_logs_file} 2>/dev/null
    local pid=`cat ${Clash_pid_file} 2> /dev/null`
    if (cat /proc/${pid}/cmdline | grep -q ${Clash_bin_name}) ; then
        echo "Info: Hạt nhân Clash đã được khởi động, lần này sẽ không bắt đầu." >> ${CFM_logs_file}
        exit 1
    fi
    if [ -f "${Clash_bin_path}" ] ; then
        if [ -f ${Clash_config_file} ] ; then
            chmod 0777 ${Clash_bin_path}
            ${Clash_bin_path} -t -d "$Clash_data_dir" > ${Clash_run_path}/error
            if [ "$?" = "0" ] ; then
                ulimit -SHn 1000000
                nohup ${magisk_busybox} setuidgid 0:3005 ${Clash_bin_path} -d "$Clash_data_dir" > ${Clash_logs_file} 2>&1 &
                echo -n $! > ${Clash_pid_file}
                echo "Info: Kernel Clash đã bắt đầu." >> ${CFM_logs_file}
                iptables -I FORWARD -o ${tun_device} -j ACCEPT
                iptables -I FORWARD -i ${tun_device} -j ACCEPT                          
                if [ "${Clash_tun_status}" == "false" ]; then
              ${Clash_data_dir}/scripts/clash.tproxy -s
        echo "Info: Dùng tproxy." >> ${CFM_logs_file}
        echo "Info: iptables quy tắc được kích hoạt." >> ${CFM_logs_file}
            fi
                rm -f ${Clash_run_path}/error
            else
               echo "Err: Kiểm tra tệp cấu hình không thành công!" >> ${CFM_logs_file}
               exit 1
            fi
        else
            echo "Err: Tệp cấu hình không tồn tại!" >> ${CFM_logs_file}
            exit 1
        fi
    else
        echo "Err: Clash kernel bị thiếu." >> ${CFM_logs_file}
        exit 1
    fi
}

stop_clash() {
    kill -15 `cat ${Clash_pid_file}`
    rm ${CFM_logs_file} 2>/dev/null
    rm -f ${Clash_pid_file}
    iptables -D FORWARD -o ${tun_device} -j ACCEPT	
	iptables -D FORWARD -i ${tun_device} -j ACCEPT
	echo "Info: Ngừng Clash Kernel." >> ${CFM_logs_file}
	      if [ "${Clash_tun_status}" == "false" ]; then
	${Clash_data_dir}/scripts/clash.tproxy -k
	echo "Info: iptables quy tắc bị xóa." >> ${CFM_logs_file}
	fi
}

while getopts ":sk" signal ; do
    case ${signal} in
        s)
            start_clash
            ;;
        k)
            stop_clash
            ;;
        ?)
            echo ""
            ;;
    esac
done
