#!/system/bin/sh

tun_device="Meta"
Clash_data_dir="$TOME/Module/Hack-Proxy"
Clash_bin_path="$TOME/bin/Clash"
Clash_run_path="${Clash_data_dir}/run"
Clash_config_file="${Clash_data_dir}/config.yaml"
Clash_pid_file="${Clash_run_path}/clash.pid"
CFM_logs_file="${Clash_run_path}/run.log"
Clash_logs_file="${Clash_run_path}/kernel.log"

mkdir -p /dev/net
[ ! -L /dev/net/tun ] && ln -sf /dev/tun /dev/net/tun

start_clash() {
[ -e $Clash_run_path ] || mkdir -p $Clash_run_path
    if [ "$(grep -cm1 'ipv6: false' $Clash_config_file)" == 1 ] ; then
        for net in /proc/sys/net/ipv6/conf/{wlan*,*data*} ; do
            echo ${net} | grep -q wlan
            if [ $? -eq 0 ] ; then
                echo 0 > ${net}/accept_ra
            fi
            echo 1 > ${net}/disable_ipv6
        done
    else
        for net in /proc/sys/net/ipv6/conf/{wlan*,*data*} ; do
            echo ${net} | grep -q wlan
            if [ $? -eq 0 ] ; then
                echo 1 > ${net}/accept_ra
            fi
            echo 0 > ${net}/disable_ipv6
        done
    fi
    rm ${CFM_logs_file} 2>/dev/null
    local pid=`cat ${Clash_pid_file} 2> /dev/null`
    if (cat /proc/${pid}/cmdline | grep -q Clash) ; then
        echo "Info: Hạt nhân Clash đã được khởi động, lần này sẽ không bắt đầu." >> ${CFM_logs_file}
        exit 1
    fi
    if [ -f "${Clash_bin_path}" ] ; then
        if [ -f ${Clash_config_file} ] ; then
            Clash -t -d "$Clash_data_dir" > ${Clash_run_path}/error
            if [ "$?" = "0" ] ; then
                ulimit -SHn 1000000
                nohup setuidgid 0:3005 Clash -d "$Clash_data_dir" > ${Clash_logs_file} 2>&1 &
                echo -n $! > ${Clash_pid_file}
                echo "Info: Kernel Clash đã bắt đầu." >> ${CFM_logs_file}
                iptables -w 100 -I FORWARD -o ${tun_device} -j ACCEPT
                iptables -w 100 -I FORWARD -i ${tun_device} -j ACCEPT   
                ip6tables -w 100 -I FORWARD -o ${tun_device} -j ACCEPT
                ip6tables -w 100 -I FORWARD -i ${tun_device} -j ACCEPT                       
                rm -f ${Clash_run_path}/error
            else
               echo "Err: Kiểm tra tệp cấu hình không thành công!" >> ${CFM_logs_file}
               exit 1
            fi
        else
            echo "Err: Tệp cấu hình không tồn tại!" >> ${CFM_logs_file}
            exit 1
        fi
    else
        echo "Err: Clash kernel bị thiếu." >> ${CFM_logs_file}
        exit 1
    fi
}

stop_clash() {
    kill -15 `cat ${Clash_pid_file}`
    rm ${CFM_logs_file} 2>/dev/null
    rm -f ${Clash_pid_file}
    iptables -w 100 -D FORWARD -o ${tun_device} -j ACCEPT	
	iptables -w 100 -D FORWARD -i ${tun_device} -j ACCEPT
    ip6tables -w 100 -D FORWARD -o ${tun_device} -j ACCEPT	
	ip6tables -w 100 -D FORWARD -i ${tun_device} -j ACCEPT
	echo "Info: Ngừng Clash Kernel." >> ${CFM_logs_file}
}

while getopts ":sk" signal ; do
    case ${signal} in
        s)
            start_clash
            ;;
        k)
            stop_clash
            ;;
        ?)
            echo ""
            ;;
    esac
done
